.hero{
    min-height:93vh ;
    background-image:linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url(../../assets/student-programing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    color: var(--color-secondary);
}
.content h1{
    font-size: 7rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.content p{
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}
.content .btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    color: var(--color-black);
    border-radius: 5px;
    text-decoration: none;
    transition: .5s ease;
}
.btn:hover{
    background-color: var(--color-primary);
}
