.enroll-from {
  width: 60%;
  margin: 3rem auto;
  box-shadow: 0 0 0.3rem var(--color-black);
}
@media screen and (max-width: 47.88rem) {
  .enroll-from {
    width: 100%;
  }
}
.form-detis {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.form-group {
  font-weight: 600;
  text-transform: capitalize;
}
.from-input {
  padding: 1rem;
  font-size: inherit;
  font-weight: 600;
}
.form-inpu {
  padding: 1rem;
  font-size: inherit;
  font-weight: 600;
  color: var(--color-brown);
}

.track-submit-btn {
  background-color: var(--color-black);
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 1.7rem 2rem;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  text-transform: capitalize;
  width: max-content;
  margin: 1rem auto;
  border-radius: 5px;
}
.track-submit-btn:hover {
  background-color: var(--color-brown);
  transition: 0.5s;
}
