.About-section{
    margin-top: 9rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.about-card{
    border-radius: 10px;
    width: 35rem;
    background-color: var(--color-blackfade);
    color: var(--color-black);
    
}

.about-image{
    height: 15rem;
}

.about-image img{
    width: 30%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.about-details{
    margin-top: 0;
    padding: 2rem;
    
}

.about-details-tittle{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.about-details-description{
    line-height: 3rem;
    text-align: justify;
    text-align-last: center;
}