.footer {
  background-color: var(--color-brown);
  padding: 3rem;
}

.footer-text {
  color: var(--color-secondary);
  text-align: center;
}

.footer-text a {
  color: var(--color-secondary);
  color: var(--color-blackfade);
}

.footer-text a:hover {
  color: var(--color-black);
}
