.Testimonials-cards {
  box-shadow: 0 0 1rem var(--color-black);
  border-radius: 15px;
  width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
}

.student-Testimonials-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.student-Testimonials-details img {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.student-name {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.testmony-tittle {
  text-transform: capitalize;
  margin: 2rem 0;
  display: flex;
}

.testmony-text {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: justify;
}

.testmonials-container {
  width: 60%;
  margin: 2rem auto;
}
@media screen and (max-width: 50em) {
  .Testimonials-cards {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 39.63rem) {
  .testmonials-container{
    width: 100%;
  }
}