@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /*1rem-16px*/
}
body{
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary);
}

:root{
  --color-primary: #EDDFE0;
  --color-secondary: #F5F5F7;
  --color-blackfade: #B7B7B7;
  --color-brown: #705C53;
}